constraints: QuickCheck ==2.8.1,
             array ==0.5.1.0,
             base ==4.8.0.0,
             bytestring ==0.10.6.0,
             containers ==0.5.6.2,
             deepseq ==1.4.1.1,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.3.2,
             integer-gmp ==1.0.0.0,
             pretty ==1.1.2.0,
             primitive ==0.6,
             random ==1.1,
             rts ==1.0,
             template-haskell ==2.10.0.0,
             text ==1.2.0.4,
             tf-random ==0.5,
             time ==1.5.0.1,
             transformers ==0.4.2.0,
             unordered-containers ==0.2.5.1,
             vector ==0.10.12.3
